<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weather</title>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <div class="mx-auto" style="width:400px;">
                <h1>What's The Weather?</h1>
            </div>
        </div>

        {% if msg is not none %}
            <div>
                <pre>{{ msg }}</pre>
            </div>
        {% endif %}

        {% if cities|length > 1 %}
            <div class="card-group">
        {% else %}
            <div class="mx-auto" style="width: 20rem;">
        {% endif %}
        
        {% for city in cities %}
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5>{{ city.location }}</h5>
                    <h4><span class="badge badge-success">{{ city.temp_cur }}°</span></h4>
                    <div class="media">
                        <img src="{{ city.icon }}" alt="{{ city.status }}">
                        <h5 class="my-auto">{{ city.status }}</h5>
                    </div>
                    <p>
                        <span class="badge badge-primary">Low</span> {{ city.temp_min }}° 
                        <span class="badge badge-warning">High</span> {{ city.temp_max}}°
                    </p>    
                </div>
            </div>
        {% endfor %}
        
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
